body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;

}

.header, .row1, .footer {
 display: flex;
  align-items: center;
  justify-content: space-between;
 background-color: #1F2937;
  color: #F9FAF8; 
  gap: 24px;
padding-left: 120px;
  padding-right: 120px; 
}

.header {
  padding-bottom: 0;
}

.row1 {
 padding-bottom: 120px;
}

.logo { 
  font-weight: 800;
  font-size: 24px; 
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  list-style: none;
}

.mheading {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 800;
  margin: 0;
}

.hsignup {
  border: 0;
  background-color: #3882f6;
  height: 35px;
  width: 110px;
  border-radius: 8px;
  color: #F9FAF8;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.mainimg {
  height: 200px;
  width: 400px;
  background-color: gray;
  text-align: center; 
}

.leftside {
  display: flex;
  flex-direction: column;
}

.row2, .row3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
padding-left: 220px;
  padding-right: 220px;
  padding-bottom: 80px;
padding-top: 80px;
}

.row2 {
  padding-top: 0;
}

.heading2 {
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
}

.imageslist {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px; 
}

.subText {
  text-align: center;
}

.smallimg {
  align-self: center;
 height: 100px;
  width: 100px;
  border: 3px solid #3882F6;
  border-radius: 8px;
}

.row3 {
  background-color: #E5E7EB; 
}

.quote {
  color: #1F2937;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}

.quoteBy {
  align-self: flex-end;
  font-weight: 600;
}

.footer {
  display: flex;
  height: 60px;
  justify-content: center;
}
